.page-header {
  background-color: var(--white-color);
  height: 10rem;
  letter-spacing: 2px;
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-name {
  letter-spacing: 0.2rem;
}
.right-nav .link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.badge-no-right {
  background-color: var(--error-color);
}
.button {
  padding: 0.5rem 1rem;
  border-radius: 0;
  margin: 0 0.5rem;
}
.black-button {
  background-color: var(--black-color);
  color: var(--white-color);
}
.outline-button.black-button {
  background-color: var(--white-color);
  color: var(--black-color);
}
.category-card {
  display: flex;
  flex-direction: column;
}
.category-card .bottom-name {
  align-self: center;
  font-size: 1.2rem;
  padding: 1rem;
  letter-spacing: 1px;
}
.heading {
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 2rem;
  padding: 1rem;
}
